apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret-url
type: Opaque
stringData:
  MONGODBURL: mongodb://mongo:mongo@{{ .Release.Name }}-mongodb-0.{{ .Release.Name }}-mongodb-headless:27017/echodb
